body {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #6c5b7b; }

.navbar {
  background: none !important;
  margin-top: 50px; }
  .navbar .nav-item .nav-link {
    font-size: 14px;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    font-weight: 700; }

.tagline {
  font-size: 12px;
  position: relative;
  margin-top: 30px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase; }

.wrap {
  padding-top: 3em;
  padding-bottom: 3em; }

.logo {
  text-align: center;
  display: block;
  margin-bottom: 3em; }
  .logo a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px 15px;
    text-decoration: none; }

.intro-scripture {
  position: relative;
  font-size: 30px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #000; }
  @media (min-width: 768px) {
    .intro-scripture {
      font-size: 50px; } }
  .intro-scripture .scripture {
    font-size: 20px; }
