@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

body {
	font-family: $font-family-sans-serif;
	font-size: $font-size-base + .1rem;
	line-height: 1.5;
	font-weight: 400;
	color: lighten($black, 35%);
	@include media-breakpoint-up(md) {
		// font-size: $font-size-base + .2rem;
		font-size: $font-size-base + .35rem;
		line-height: 1.7;
	}
}
::selection {
	background: $black;
	color: $white;
}
::-moz-selection {
	background: $black;
	color: $white;
}
h1, h2, h3 {
	color: $black!important;
	line-height: 1.2;
}
.h1 {
	font-size: $h1-font-size - 1rem ;
	@include media-breakpoint-up(md) {
		font-size: $h1-font-size;

	}
}
.h2 {
	font-size: $h2-font-size - .75rem ;
	font-weight: 600;
	@include media-breakpoint-up(md) {
		font-size: $h2-font-size;

	}
}
.h3 {
	font-size: $h3-font-size - .75rem ;
	font-weight: 600;
	@include media-breakpoint-up(md) {
		font-size: $h3-font-size - .3rem;
		
	}
}

.navbar {
	background: none!important;
	margin-top: 50px;

	.nav-item {
		.nav-link {
			font-size: 14px;
			letter-spacing: .05em;
			text-transform: uppercase;
			padding-top: 20px;
			font-weight: bold;
			padding-bottom: 20px;
			font-weight: 700;
		}
	}
}

.tagline {
	font-size: 12px;
	position: relative;
	margin-top: 30px;
	color: $black;
	font-weight: 400;
	text-transform: uppercase;
	// font-style: italic;
}

.wrap {
	padding-top: 3em;
	padding-bottom: 3em;
}
.logo {
	// display: inline-block;
	text-align: center;
	display: block;
	margin-bottom: 3em;
	a {
		color: $black;
		text-transform: uppercase;
		letter-spacing: .2em;
		font-size: 20px;
		border: 2px solid $black;
		padding: 10px 15px;
		text-decoration: none;
	}
}
.intro-scripture {	
	position: relative;
	font-size: 30px;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
	color: #000;
	@include media-breakpoint-up(md) {
		font-size: 50px;	
	}
	.scripture {
		font-size: 20px;
	}
}

.site-section {
	padding: 5em 0;
}

.container-fluid {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
article {
	.bg-light {
		background: rgba($primary, .05)!important;
		border-radius: 7px;
	}
	p {
		font-family: $font-family-serif;
		strong {
			font-weight: 700;
			font-weight: 600;
			color: $black;
		}
		em {
			line-height: 1.5;
			// color: $black;
			// font-weight: 600;

		}
	}
	.row {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}